* {
	font-family: 'proxima-nova', sans-serif;
}

html, body {
	width: 100%;
}

article {
	color: #385a7b;
	background-color: #fcfdfe;
}

form {
	margin-top: 15px;
}

header {
	width: 100%;
	height: 50px;
	background-color: #2687e9;
}

input[type="text"], input[type="submit"], input[type="button"] {
	border: 2px solid #c9d3dd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #395a7a;
	padding: 4px 6px;
	height: 40px;
}

label.title{
	font-weight: normal;
}

.description-input {
	width: 540px;
}

.bankname-input, .balance-input, .date-input {
	width: 300px;
}

footer {
	width: 100%;
	margin-top: 120px;
	margin-bottom: 200px;
	border-top: 1px solid #c9d3dd;
	text-align: center;
}

.person-type {
	margin-top: 24px;
}

.natural-person input, .natural-person label, 
.legal-entity input, .legal-entity label {
	float: left;
}

.natural-person input, .legal-entity input {
	width: 22px;
	padding-right: 0;
	margin-right: 0;
}

.natural-person label, .legal-entity label {
	margin-left: 0;
	padding-left: 0;
}

.natural-person label {
	margin-right: 70px;
}

.container-content {
	margin-left: 50px;
	margin-right: 50px;
}

.body-content {
	width: 100%;
	font-size: 14px;
	margin-top: 11px;
	padding: 44px 0 21px 0;
	border-top: 1px solid #c9d3dd;	
}

.body-content div {
	margin-bottom: 25px;
}

.header-content, .header-content h3 {
	font-family: "ProximaNovaCond", sans-serif;
	margin-top: 50px;
	margin-bottom: 30px;
	clear: left;
	height: 50px;
}

.content {
	min-width: 940px;
	max-width: 940px;
	z-index: 20;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	padding-bottom: 1px;
	clear: left;		
}

.main {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 940px;
}

.content .main-content {
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #c9d3dd;
}

.section {
	height: 90px;
	width: 100%;
}

.section-title-balance {
	height: 14px;
	width: 100%;
}

.balance, .date, .bank-name, .radio-options {
	width: 300px;
	float: left;
	margin-right: 20px;
}

.description {
	width: 540px;
	float: left;
	margin-right: 20px;	
}

.brand {
	margin-top: 18px;
}

.pag-list {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 0;
	background: transparent;
	font-size: 12px;
}

.pag-list li {
	display: inline;
	margin-left: 3px;
}

.pag-list li a {
	text-decoration: underline;
	color: #00BFFF;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 13px;
}


.pag-list li span {
	font-size: 10px;
	margin-right: 3px;
}

.radio-options form {
	margin-top: 15px;
}

.btn {
	height: 40px;
}

.btn-right {
	float: right;
	margin-right: 20px;
	width: 300px;
}

.btn-left {
	float: left;
	width: 150px;
}

.btn-save {
	float: right;
	width: 150px;
}

.btn:hover, .btn:focus, .btn:active {
	opacity: 0.75;
}

.footer-logo {
	margin-top: 20px;
}

.header-logo {
	height: 50px;
}

@font-face {
 	font-family: 'proxima-nova';                   
 	src: url('../../webfonts/proximanova-regular.otf') format('truetype');
}

@font-face {
 	font-family: 'ProximaNovaCond';                   
 	src: url('../../webfonts/ProximaNovaCond-regular.otf') format('truetype');
}
